@charset "UTF-8";
@font-face {
  font-family: "BAUHS93";
  src: url("./../assets/fonts/BAUHS93.ttf"); }

@font-face {
  font-family: "BAUHS93-Regular";
  src: url("./../assets/fonts/Bauhaus93Regular.ttf"); }

@font-face {
  font-family: "AlwaysForeverBold";
  src: url("./../assets/fonts/AlwaysForeverBold.ttf"); }

@font-face {
  font-family: "AlwaysForever";
  src: url("./../assets/fonts/AlwaysForever.ttf"); }

h1,
h2,
h3,
h4,
h5 {
  font-family: AlwaysForeverBold; }

p {
  font-family: BAUHS93; }

a {
  font-family: BAUHS93;
  text-decoration: none; }

.section {
  background-image: url("https://i.ibb.co/j8BTF9Q/fondoBar.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%; }
  .section--subtitle {
    color: #fff;
    font-size: 7rem;
    margin-left: 70px;
    border-bottom: 1px solid #fff;
    width: 90%; }

.h1FondoBlanco {
  color: #000;
  border-bottom: 1px solid #000; }

.h1FondoNegro {
  color: #fff;
  border-bottom: 1px solid #fff; }

/* –––––––––––––––––––––––––––––––––––––––––––––––––– */
/*                      FOOTER                        */
/* –––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: "";
  background-color: #000;
  color: #fff;
  font-size: 1.3rem;
  padding: 10px;
  text-align: center; }
  .footer__text {
    text-decoration: none;
    color: #fa9b03; }
    .footer__text:hover {
      color: #fa9b03; }
    .footer__text--nameTitle {
      text-decoration: none;
      color: #fa9b03; }
    .footer__text--nameSubtitle {
      color: #fff;
      font-family: Arial;
      font-size: 0.7rem;
      font-weight: none;
      font-style: none; }
      .footer__text--nameSubtitle__linkDev {
        color: #fff;
        font-family: Arial;
        font-size: 0.7rem;
        font-weight: 900;
        font-style: none; }

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*                                                                                         MEDIAS QUERYS                                                                                                    */
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
@media only screen and (max-width: 1024px) {
  .section--subtitle {
    font-size: 6rem;
    width: 75%;
    padding-top: 80px; } }

@media only screen and (max-width: 768px) {
  .section--subtitle {
    font-size: 6rem;
    width: 75%; } }

@media only screen and (max-width: 480px) {
  .section--subtitle {
    font-size: 4rem;
    width: 60%; }
  .footer {
    font-size: 0.8rem; }
    .footer__text--nameSubtitle {
      font-size: 0.5rem; }
      .footer__text--nameSubtitle__linkDev {
        font-size: 0.5rem; } }

header {
  width: 100%;
  top: 0;
  position: sticky;
  z-index: 1000; }

.bg-dark {
  background-color: #000 !important; }

.navbar {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

nav div.container-fluid div.navbar-collapse {
  justify-content: center; }

.ulNav a {
  position: relative;
  display: block;
  overflow: hidden;
  color: #fff;
  font-size: 1.5rem;
  text-transform: uppercase; }
  .ulNav a span {
    transition: transform 0.2s ease-out; }
    .ulNav a span svg {
      color: #fff; }
    .ulNav a span:first-child {
      display: inline-block;
      padding: 10px; }
    .ulNav a span:last-child {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: "";
      transform: translateY(-100%); }
  .ulNav a:hover span:first-child {
    transform: translateY(100%); }
  .ulNav a:hover span:last-child {
    transform: none; }

.ulNav[data-animation] a:hover span:last-child {
  transform: none; }

ul.ulNav .liNav ol.subMenu {
  min-width: 500px;
  background: #000;
  padding: 0px 50px;
  width: 32%;
  border-radius: 0px 30px 30px 30px; }
  ul.ulNav .liNav ol.subMenu li.subMenuItem {
    color: #fff;
    font-size: 1.5rem;
    border-left: none;
    line-height: 50px; }
    ul.ulNav .liNav ol.subMenu li.subMenuItem a {
      font-size: 1.5rem; }

ul.ulNav .liNav:hover > ol.subMenu {
  display: block;
  transition: step-end 0.5s; }

ul.ulNav .liNav ol.subMenu li.subMenuItem:hover {
  color: #fa9b03;
  transition: transform 0.2s ease-out; }

li.subMenuItem a:hover {
  color: #fa9b03;
  transition: transform 0.2s ease-out; }

/*                ANIMACIONES PARA NAV                */
/* –––––––––––––––––––––––––––––––––––––––––––––––––– */
.ulNav[data-animation="to-top"] a span:last-child {
  transform: translateY(100%); }

.ulNav[data-animation="to-top"] a:hover span:first-child {
  transform: translateY(-100%); }

.ulNav[data-animation="to-right"] a span:last-child {
  transform: translateX(-100%); }

.ulNav[data-animation="to-right"] a:hover span:first-child {
  transform: translateX(100%); }

.ulNav[data-animation="to-left"] a span:last-child {
  transform: translateX(100%); }

.ulNav[data-animation="to-left"] a:hover span:first-child {
  transform: translateX(-100%); }

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*                                                                                         MEDIAS QUERYS                                                                                                    */
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
@media only screen and (max-width: 1024px) {
  header {
    position: fixed;
    z-index: 100; }
  .navbar {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important; } }

@media only screen and (max-width: 768px) {
  ul.ulNav .liNav ol.subMenu {
    padding: 0px !important;
    border-radius: none !important; }
    ul.ulNav .liNav ol.subMenu li.subMenuItem a {
      font-size: 1rem; }
  .ulNav a span:last-child {
    justify-content: left;
    left: 30px; } }

@media only screen and (max-width: 480px) {
  .ulNav a {
    font-size: 0.8rem; }
  .liNav a span svg {
    width: 20px;
    height: 20px; } }

.socialBar {
  position: fixed;
  right: 0;
  top: 35%;
  font-size: 1.5rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  z-index: 10000; }
  .socialBar__icon {
    color: #fff;
    padding: 0.7rem;
    display: flex;
    align-items: "";
    justify-content: "";
    flex-direction: "";
    transition: all 0.5s; }
    .socialBar__icon:first-child {
      border-radius: 1rem 0 0 0; }
    .socialBar__icon:last-child {
      border-radius: 0 0 0 1rem; }
    .socialBar__icon:hover {
      padding-right: 3rem;
      border-radius: 1rem 0 0 1rem;
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42);
      background: #000; }
  .socialBar__iconFace {
    background: #3b5998;
    cursor: pointer; }
    .socialBar__iconFace:hover {
      color: #3b5998; }
  .socialBar__iconInsta {
    background: #9202ce;
    cursor: pointer; }
    .socialBar__iconInsta:hover {
      color: #9202ce; }
  .socialBar__iconWhatsapp {
    background: #00bb2d;
    cursor: pointer; }
    .socialBar__iconWhatsapp:hover {
      color: #00bb2d; }

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*                                                                                         MEDIAS QUERYS                                                                                                    */
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
@media only screen and (max-width: 480px) {
  .socialBar__icon {
    padding: 0.5rem; }
    .socialBar__icon--svg {
      width: 15px;
      height: 15x; } }

.error {
  width: 100%;
  height: 100vh;
  background-image: url("https://i.ibb.co/2jY64KQ/fondo-Madera.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: ""; }
  .error__mensaje {
    color: #fff;
    text-align: center;
    text-transform: uppercase; }
    .error__mensaje--title {
      font-size: 10rem; }
  .error__imagen {
    display: flex; }
    .error__imagen--img {
      width: 80%;
      height: 80vh;
      margin: 0px auto; }

@media only screen and (max-width: 768px) {
  .error__mensaje {
    color: #fff;
    text-align: center;
    text-transform: uppercase; }
    .error__mensaje--title {
      font-size: 6rem; }
    .error__mensaje--parrafo {
      font-size: .8rem; }
  .error__imagen--img {
    width: 70%;
    height: 60vh; } }

@media only screen and (max-width: 480px) {
  .error {
    display: block;
    padding: 20px 0px; }
    .error__mensaje {
      color: #fff;
      text-align: center;
      text-transform: uppercase; }
      .error__mensaje--title {
        font-size: 6rem; }
      .error__mensaje--parrafo {
        font-size: .8rem; }
    .error__imagen--img {
      width: 65%;
      height: 50vh; } }

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*                                                                                        INDEX PAGE                                                                                                        */
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*--------------------- home ---------------------- */
.headerHome {
  width: 100%;
  height: 93vh;
  background-image: url("https://i.ibb.co/2jY64KQ/fondo-Madera.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .headerHome__img {
    width: 90%;
    margin: 0px auto;
    padding: 50px 0px;
    display: block;
    -webkit-animation: slide-top 0.5s ease-in-out alternate forwards;
    animation: slide-top 0.5s ease-in-out alternate forwards; }

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  85% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px); } }

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  85% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px); } }

/*--------------------- OPINIONES ---------------------- */
.sliderRigth {
  -webkit-animation: slide-right 0.5s ease-in-out both;
  animation: slide-right 0.5s ease-in-out both; }

.carousel {
  width: 95%;
  margin: 0px auto;
  overflow: hidden; }
  .carousel__opinionesList {
    display: flex !important;
    justify-content: center; }
    .carousel__opinionesList__opinionItem {
      width: 300px;
      height: 250px;
      border-radius: 10px;
      align-items: center;
      justify-content: center;
      transition: 0.3s;
      margin: 0px 20px 70px 20px;
      border: 1px solid #fa9b03;
      background-color: #faebd7c2; }
      .carousel__opinionesList__opinionItem--name {
        color: rgba(0, 0, 0, 0.8);
        font-size: 3rem;
        text-align: center;
        margin: 10px 0px; }
      .carousel__opinionesList__opinionItem--puntajeOpinion {
        display: flex;
        justify-content: center;
        color: #f5ff37;
        margin: 20px auto;
        font-size: 2rem; }
        .carousel__opinionesList__opinionItem--puntajeOpinion__icono {
          padding: 0px 5px;
          width: 25px;
          height: 25px; }
      .carousel__opinionesList__opinionItem--comentario {
        color: #000;
        font-size: 1rem;
        margin: 0px 15px; }

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  85% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px); } }

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  85% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px); } }

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*                                                                                        ABOUT PAGE                                                                                                        */
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.about {
  background-image: url("../assets/img/fondos/fondoAbout.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .about--sliderLeft {
    -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
  .about__sectionNosotros {
    width: 80%;
    margin: 0px auto;
    padding: 35px 0px; }
    .about__sectionNosotros--title {
      color: #fa9b03;
      text-align: center;
      text-transform: uppercase;
      display: grid; }
      .about__sectionNosotros--title__titleUno {
        font-family: AlwaysForever;
        font-size: 12rem;
        font-weight: none;
        font-style: none; }
      .about__sectionNosotros--title__titleDos {
        font-family: BAUHS93;
        font-size: 9rem;
        font-weight: none;
        font-style: none; }
    .about__sectionNosotros--parrafo {
      color: #fff;
      font-size: 1.5rem;
      text-align: justify;
      line-height: 40px; }

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  85% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px); } }

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  85% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px); } }

/*---------------------   SECTION TOPPINGS ---------------------- */
.toopings {
  background-image: url("../assets/img/fondos/fondoToppings.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 50px 0px; }
  .toopings__title {
    text-align: center;
    color: #fa9b03;
    font-weight: 900;
    font-size: 6rem; }
  .toopings__parrafo {
    text-align: center;
    font-size: 1.5rem; }
  .toopings__list {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 250px 250px;
    justify-content: center;
    padding-top: 20px;
    cursor: pointer; }
    .toopings__list--item__img {
      width: 60%;
      display: flex;
      margin: 0px auto; }
    .toopings__list--item__nombreTopping {
      text-align: center; }

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*                                                                                        CARTA PAGE                                                                                                        */
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.sectionCartaHamburguesas {
  background-image: url("https://i.ibb.co/FnL6JXg/hamburguesa-Fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.sectionCartaLomos {
  background-image: url("https://i.ibb.co/k83LvdS/lomitos-Fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.sectionCartaEmpanadas {
  background-image: url("https://i.ibb.co/VtLpMkj/empanadas-Fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.sectionCartaPizzas {
  background-image: url("https://i.ibb.co/GMQftpz/pizza-Fondos.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.carta {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: "";
  color: #fff; }

.content {
  max-width: 49rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
  padding: 150px 0px 152px 0px; }

.contentHeader {
  z-index: 2;
  margin: 0px auto;
  width: 100%; }

.titleCarta {
  text-align: center;
  font-family: BAUHS93;
  font-size: 3rem;
  font-weight: none;
  font-style: none;
  color: #fff;
  padding: 15px 0px;
  border-bottom: 1px solid; }

.grid {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 200px 200px;
  justify-content: space-around;
  align-items: baseline; }

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: "";
  width: 100%;
  height: 155px;
  border-radius: 10px;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin: 20px auto; }
  .item::before {
    content: "";
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0; }

/* animacion cuando hace el hover */
.grid .item img {
  width: 100%;
  height: 100%; }

.item img:hover > .itemCartaTilte {
  display: block !important; }

.itemCartaTilte {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
  padding: 40px 0; }

.item .itemCartaTilte::before, .item .itemCartaTilte::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  transition: all 0.5s ease 0s;
  z-index: 9994; }

.item:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1; }

.item:hover .itemCartaTilte {
  opacity: 1; }
  .item:hover .itemCartaTilte::before {
    top: 15px;
    left: 15px; }
  .item:hover .itemCartaTilte::after {
    bottom: 15px;
    right: 15px; }

.itemCartaTilte h4 {
  color: #fff;
  letter-spacing: 2px;
  font-size: 3rem;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 10px; }

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*                                                                                        LOCALES PAGE                                                                                                      */
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.section__zonasList {
  width: 80%;
  margin: 0px auto;
  padding: 15px 0px; }
  .section__zonasList__zonasItems--nameZona {
    color: #fff;
    font-size: 5rem; }
  .section__zonasList__zonasItems--localesList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: "";
    margin: 0px auto;
    padding: 15px 0px; }
    .section__zonasList__zonasItems--localesList__localesItem {
      width: 300px;
      height: 332px;
      border-radius: 10px;
      display: "";
      align-items: center;
      justify-content: center;
      flex-direction: "";
      transition: 0.3s;
      padding: 0px 15px;
      margin: 0px 20px 70px 20px; }
      .section__zonasList__zonasItems--localesList__localesItem__direccionItem {
        font-size: 1.2rem;
        padding: 10px 0px; }
        .section__zonasList__zonasItems--localesList__localesItem__direccionItem--datos {
          padding: 5px 0px;
          color: #fff;
          font-family: Arial, Helvetica, sans-serif; }

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*                                                                                       CONTACTO PAGE                                                                                                      */
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.contactoSection {
  height: 100vh; }
  .contactoSection__formulario {
    width: 60%;
    margin: 60px auto;
    color: #fff;
    font-family: BAUHS93;
    text-transform: uppercase;
    text-align: center;
    padding: 16px;
    border-radius: 10px;
    background-color: #fa9b0351; }
    .contactoSection__formulario--label {
      width: 72px;
      letter-spacing: 1px;
      display: inline-block; }
    .contactoSection__formulario--input[type="text"], .contactoSection__formulario--input[type="email"] {
      width: 50%;
      height: 40px;
      padding: 3px 10px;
      border: 1px solid #f6f6f6;
      border-radius: 3px;
      background-color: #f6f6f6;
      margin: 8px 0;
      display: inline-block; }
    .contactoSection__formulario--input[type="checkbox"] {
      width: 20px;
      height: 20px; }
    .contactoSection__formulario--input[type="submit"], .contactoSection__formulario--input[type="reset"] {
      width: 45%;
      padding: 8px 16px;
      margin-top: 32px;
      border-radius: 5px;
      display: block;
      color: #fff; }
      .contactoSection__formulario--input[type="submit"]:hover, .contactoSection__formulario--input[type="reset"]:hover {
        cursor: pointer; }
    .contactoSection__formulario--select {
      width: 50%;
      height: 40px;
      padding: 3px 10px;
      border: 1px solid #f6f6f6;
      border-radius: 3px;
      background-color: #f6f6f6;
      margin: 8px 0;
      display: inline-block; }
    .contactoSection__formulario--textarea {
      width: 90%;
      height: 80px;
      padding: 3px 10px;
      border: 1px solid #f6f6f6;
      border-radius: 3px;
      background-color: #f6f6f6;
      margin: 8px 0;
      display: inline-block; }
    .contactoSection__formulario--buttons {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: ""; }
      .contactoSection__formulario--buttons__limpiar {
        background-color: #6d0b0b;
        border: 1px solid #6d0b0b; }
      .contactoSection__formulario--buttons__enviar {
        background-color: #108d00;
        border: 1px solid #108d00; }

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*                                                                                         MEDIAS QUERYS                                                                                                    */
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
@media only screen and (max-width: 1024px) {
  /***** INDEX PAGE *****/
  .headerHome {
    height: 93vh; }
    .headerHome__img {
      padding: 200px 0px; }
  /****** CARTA PAGE ******/
  .content {
    padding: 85px 0px 90px 0px; } }

@media only screen and (max-width: 768px) {
  /****** ABOUT PAGE ******/
  .section__sectionNosotros--title__titleUno {
    font-size: 8rem; }
  .section__sectionNosotros--title__titleDos {
    font-size: 5rem; }
  .section__sectionNosotros--parrafo {
    line-height: 35px; }
  /****** CARTA PAGE ******/
  .content {
    padding: 40px 0px 0px 0px; }
  .titleCarta {
    font-size: 2rem;
    padding: 35px 0px; }
  .grid {
    grid-template-columns: 40% 40%; }
  /****** LOCALES PAGE ******/
  .section__zonasList__zonasItems--nameZona {
    font-size: 4.5rem; }
  .section__zonasList__zonasItems--localesList__localesItem {
    padding: 0px 0px !important;
    margin: 0px 5px 70px 5px; }
    .section__zonasList__zonasItems--localesList__localesItem__direccionItem {
      font-size: 0.8rem;
      padding: 0px 0px; }
  /****** CONTACTO PAGE ******/
  .contactoSection__formulario {
    margin: 40px auto !important; }
    .contactoSection__formulario--input[type="text"], .contactoSection__formulario--input[type="email"] {
      width: 90% !important; }
    .contactoSection__formulario--select {
      width: 90% !important; }
    .contactoSection__formulario--textarea {
      width: 90% !important; } }

@media only screen and (max-width: 480px) {
  /***** INDEX PAGE *****/
  .headerHome__img {
    width: 100%; }
  .carousel__opinionesList__opinionItem {
    width: 200px;
    height: 180px;
    margin: 0px 5px 70px 5px; }
    .carousel__opinionesList__opinionItem--name {
      font-size: 1.8rem; }
    .carousel__opinionesList__opinionItem--puntajeOpinion {
      margin: 10px auto;
      font-size: 1rem; }
    .carousel__opinionesList__opinionItem--comentario {
      font-size: 0.6rem;
      margin: 0px 5px; }
  /****** ABOUT PAGE ******/
  .section__sectionNosotros--title__titleUno {
    font-size: 5rem; }
  .section__sectionNosotros--title__titleDos {
    font-size: 3rem; }
  .section__sectionNosotros--parrafo {
    font-size: 1.2rem;
    line-height: 25px; }
  /****** CARTA PAGE ******/
  .grid {
    grid-template-columns: 80%; }
  /****** LOCALES PAGE ******/
  .section__zonasList__zonasItems--nameZona {
    font-size: 3em; }
  .section__zonasList__zonasItems--localesList__localesItem {
    padding: 0px 0px !important;
    margin: 0px 5px 70px 5px; }
    .section__zonasList__zonasItems--localesList__localesItem__direccionItem {
      font-size: 0.5rem;
      padding: 0px 0px; } }
