@font-face {
    font-family: "BAUHS93";
    src: url("./../assets/fonts/BAUHS93.ttf");
}

@font-face {
    font-family: "BAUHS93-Regular";
    src: url("./../assets/fonts/Bauhaus93Regular.ttf");
}

@font-face {
    font-family: "AlwaysForeverBold";
    src: url("./../assets/fonts/AlwaysForeverBold.ttf");
}

@font-face {
    font-family: "AlwaysForever";
    src: url("./../assets/fonts/AlwaysForever.ttf");
}
  