@import "_fonts.scss";
@import "variables/_colors.scss";
@import "mixins/_mixins.scss";

h1,
h2,
h3,
h4,
h5 {
  font-family: AlwaysForeverBold;
}

p {
  font-family: BAUHS93;
}

a {
  font-family: BAUHS93;
  text-decoration: none;
}

.section {
  @include background-image-content("../assets/img/fondos/fondoBar.svg");
  height: 100%;

  &--subtitle {
    color: $colorBlanco;
    font-size: 7rem;
    margin-left: 70px;
    border-bottom: 1px solid $colorBlanco;
    width: 90%;
  }
}

.h1FondoBlanco {
  color: $colorNegro;
  border-bottom: 1px solid $colorNegro;
}

.h1FondoNegro {
  color: $colorBlanco;
  border-bottom: 1px solid $colorBlanco;
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––– */
/*                      FOOTER                        */
/* –––––––––––––––––––––––––––––––––––––––––––––––––– */

.footer {
  @include display-flex-content(flex, center, center, "");
  background-color: $colorNegro;
  color: $colorBlanco;
  font-size: 1.3rem;
  padding: 10px;
  text-align: center;

  &__text {
    text-decoration: none;
    color: $colorBurguer;

    &:hover {
      color: $colorBurguer;
    }

    &--nameTitle {
      text-decoration: none;
      color: $colorBurguer;
    }

    &--nameSubtitle {
      color: $colorBlanco;
      @include fonts-content(Arial, 0.7rem, none, none);

      &__linkDev {
        color: $colorBlanco;
        @include fonts-content(Arial, 0.7rem, 900, none);
      }
    }
  }
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

/*                                                                                         MEDIAS QUERYS                                                                                                    */

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 1024px) {
  .section {
    &--subtitle {
      font-size: 6rem;
      width: 75%;
      padding-top: 80px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .section {
    &--subtitle {
      font-size: 6rem;
      width: 75%;
    }
  }
}

@media only screen and (max-width: 480px) {
  .section {
    &--subtitle {
      font-size: 3rem;
      width: 60%;
    }
  }

  .footer {
    font-size: 0.8rem;

    &__text {
      &--nameSubtitle {
        font-size: 0.5rem;

        &__linkDev {
          font-size: 0.5rem;
        }
      }
    }
  }
}
