@import "_generales.scss";
@import "_navbar.scss";
@import "_socialbar.scss";
@import "_404.scss";
@import "variables/_colors.scss";
@import "mixins/_mixins.scss";

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

/*                                                                                        INDEX PAGE                                                                                                        */

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

/*--------------------- home ---------------------- */

.headerHome {
  width: 100%;
  height: 93vh;
  @include background-image-content("../assets/img/fondos/fondo-Madera.svg");

  &__img {
    width: 90%;
    margin: 0px auto;
    padding: 50px 0px;
    display: block;
  }
}

/*---------------------   SECTION ABOUT ---------------------- */
.about {
  @include background-image-content("../assets/img/fondos/fondoAbout.svg");

  &__sectionNosotros {
    width: 80%;
    margin: 0px auto;
    padding: 35px 0px;

    &--title {
      color: $colorBurguer;
      text-align: center;
      text-transform: uppercase;
      display: grid;

      &__titleUno {
        @include fonts-content(AlwaysForever, 12rem, none, none);
      }

      &__titleDos {
        @include fonts-content(BAUHS93, 9rem, none, none);
      }
    }

    &--parrafo {
      color: $colorNegro;
      font-size: 1.5rem;
      font-family: Arial, Helvetica, sans-serif;
      text-align: justify;
      line-height: 40px;
    }
  }
}

/*---------------------   SECTION TOPPINGS ---------------------- */
.toopings {
  @include background-image-content("../assets/img/fondos/fondoToppings.svg");
  padding: 50px 0px;

  &__title {
    text-align: center;
    color: $colorBurguer;
    font-weight: 900;
    font-size: 6rem;
  }

  &__parrafo {
    text-align: center;
    font-size: 1.5rem;
  }

  &__list {
    @include display-grid-content(20% 20% 20% 20%, 250px 250px);
    justify-content: center;
    padding-top: 20px;
    cursor: pointer;

    &--item {
      &__img {
        width: 60%;
        display: flex;
        margin: 0px auto;
      }

      &__nombreTopping {
        text-align: center;
      }
    }
  }
}

/*--------------------- SECTION OPINIONES ---------------------- */
.carousel {
  width: 95%;
  margin: 0px auto;
  overflow: hidden;

  &__opinionesList {
    @include display-flex-content(flex, center, center, "");

    &__opinionItem {
      width: 300px;
      height: 250px;
      border-radius: 10px;
      @include display-flex-content("", center, center, "");
      transition: 0.3s;
      margin: 0px 20px 70px 20px;
      border: 1px solid $colorBurguer;
      background-color: $colorGris;

      &--name {
        color: $colorNegroDegradado;
        font-size: 3rem;
        text-align: center;
        margin: 10px 0px;
      }

      &--puntajeOpinion {
        @include display-flex-content(flex, center, center, "");
        color: $colorEstrella;
        margin: 20px auto;
        font-size: 2rem;

        &__icono {
          padding: 0px 5px;
          width: 25px;
          height: 25px;
        }
      }

      &--comentario {
        color: $colorNegro;
        font-size: 1rem;
        margin: 0px 15px;
      }
    }
  }
}

/*--------------------- SECTION VER LOCALES ---------------------- */

.verLocales {
  @include background-image-content("../assets/img/fondos/fondoAbout.svg");
  @include display-flex-content(flex, center, center, "");
  height: 50vh;

  &--imgContainer {
    width: 50%;
    @include display-flex-content(flex, center, center, "");

    &__img {
      width: 50%;
    }
  }

  &--mensajeContainer {
    text-align: left;

    &__parrafo {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
    }

    &__a {
      font-family: AlwaysForeverBold;
      text-align: center;
      font-size: 3rem;
      border: 5px solid $colorBurguer;
      padding: 10px 70px;
      border-radius: 50px;
      color: $colorNegro;

      &:hover {
        background-color: $colorBurguer;
        color: #fff;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
      }
    }
  }
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

/*                                                                                        CARTA PAGE                                                                                                        */

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

.sectionCartaHamburguesas {
  @include background-image-content(
    "../assets/img/fondos/hamburguesa-Fondo.svg"
  );
}

.sectionCartaLomos {
  @include background-image-content("../assets/img/fondos/lomitos-Fondo.svg");
}

.sectionCartaEmpanadas {
  @include background-image-content("../assets/img/fondos/empanadas-Fondo.svg");
}

.sectionCartaPizzas {
  @include background-image-content("../assets/img/fondos/pizza-Fondos.svg");
}

.carta {
  @include display-flex-content(flex, center, center, "");
  color: $colorBlanco;
}

.content {
  max-width: 49rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
  padding: 150px 0px 152px 0px;
}

.contentHeader {
  z-index: 2;
  margin: 0px auto;
  width: 100%;
}

.titleCarta {
  text-align: center;
  @include fonts-content(BAUHS93, 3rem, none, none);
  color: $colorBlanco;
  padding: 15px 0px;
  border-bottom: 1px solid;
}

.grid {
  // @include display-grid-content(30% 30% 30%, 200px 200px);
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 200px 200px;
  justify-content: space-around;
  align-items: baseline;
}

.item {
  @include display-flex-content(flex, center, center, "");
  width: 100%;
  height: 155px;
  border-radius: 10px;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin: 20px auto;

  &::before {
    content: "";
    background: $colorNegroDegradado;
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
  }
}

/* animacion cuando hace el hover */

.grid .item img {
  width: 100%;
  height: 100%;
}

.item img:hover > .itemCartaTilte {
  display: block !important;
}

.itemCartaTilte {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  @include display-flex-content(flex, center, space-around, column);
  height: 100%;
  padding: 40px 0;
}

.item {
  .itemCartaTilte {
    &::before,
    &::after {
      display: block;
      content: "";
      width: 48px;
      height: 48px;
      position: absolute;
      transition: all 0.5s ease 0s;
      z-index: 9994;
    }
  }

  &:hover {
    &::before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 1;
    }

    .itemCartaTilte {
      opacity: 1;

      &::before {
        top: 15px;
        left: 15px;
      }

      &::after {
        bottom: 15px;
        right: 15px;
      }
    }
  }
}

.itemCartaTilte h4 {
  color: $colorBlanco;
  letter-spacing: 2px;
  font-size: 3rem;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

/*                                                                                        LOCALES PAGE                                                                                                      */

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

.section {
  &__zonasList {
    width: 80%;
    margin: 0px auto;
    padding: 15px 0px;

    &__zonasItems {
      &--nameZona {
        color: $colorBlanco;
        font-size: 5rem;
      }

      &--localesList {
        @include display-flex-content(flex, center, center, "");
        margin: 0px auto;
        padding: 15px 0px;

        &__localesItem {
          width: 300px;
          height: 332px;
          border-radius: 10px;
          @include display-flex-content("", center, center, "");
          transition: 0.3s;
          padding: 0px 15px;
          margin: 0px 20px 70px 20px;

          &__direccionItem {
            font-size: 1.2rem;
            padding: 10px 0px;

            &--datos {
              padding: 5px 0px;
              color: $colorBlanco;
              font-family: Arial, Helvetica, sans-serif;
            }
          }
        }
      }
    }
  }
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

/*                                                                                       CONTACTO PAGE                                                                                                      */

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

.contactoSection {
  height: 100vh;

  &__formulario {
    width: 60%;
    margin: 0px auto;
    color: $colorBlanco;
    font-family: BAUHS93;
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    background-color: $colorBurguerDegradado;

    &--label {
      width: 72px;
      letter-spacing: 1px;
      display: inline-block;
    }

    &--input {
      &[type="text"],
      &[type="email"] {
        width: 50%;
        height: 40px;
        padding: 3px 10px;
        border: 1px solid $colorBlancoInput;
        border-radius: 3px;
        background-color: $colorBlancoInput;
        margin: 8px 0;
        display: inline-block;
      }
      &[type="checkbox"] {
        width: 20px;
        height: 20px;
      }

      &[type="submit"],
      &[type="reset"] {
        width: 45%;
        padding: 8px 16px;
        margin-top: 32px;
        border-radius: 5px;
        display: block;
        color: $colorBlanco;

        &:hover {
          cursor: pointer;
        }
      }
    }

    &--select {
      width: 50%;
      height: 40px;
      padding: 3px 10px;
      border: 1px solid $colorBlancoInput;
      border-radius: 3px;
      background-color: $colorBlancoInput;
      margin: 8px 0;
      display: inline-block;
    }

    &--textarea {
      width: 90%;
      height: 80px;
      padding: 3px 10px;
      border: 1px solid $colorBlancoInput;
      border-radius: 3px;
      background-color: $colorBlancoInput;
      margin: 8px 0;
      display: inline-block;
    }

    &--buttons {
      @include display-flex-content(flex, center, space-around, "");
      &__limpiar {
        background-color: $colorButtonCancel;
        border: 1px solid $colorButtonCancel;
      }

      &__enviar {
        background-color: $colorButtonOk;
        border: 1px solid $colorButtonOk;
      }
    }
  }
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

/*                                                                                         MEDIAS QUERYS                                                                                                    */

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 1024px) {
  /***** INDEX PAGE *****/

  // home
  .headerHome {
    height: 100vh;

    &__img {
      padding: 225px 0px;
    }
  }

  // about
  .about {
    & h2 {
      padding-top: 30px;
    }

    &__sectionNosotros {
      padding: 10px 0px;
    }
  }

  // toppings
  .toopings {
    &__parrafo {
      font-size: 1.2rem;
    }
  }

  // ver locales

  .verLocales {
    height: 30vh;
  }

  /****** CARTA PAGE ******/

  .content {
    padding: 85px 0px 90px 0px;
  }

  /******* LOCALES PAGE *******/
  .section {
    &__zonasList {
      &__zonasItems {
        &--localesList {
          &__localesItem {
            padding: 0px 0px;
            margin: 0px 5px 70px 5px;

            &__direccionItem {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }

  /******* CONTACTO PAGE *******/
  .contactoSection {
    &__formulario {
      width: 95%;
    }
  }
}

@media only screen and (max-width: 768px) {
  /***** INDEX PAGE *****/

  // home
  .headerHome {
    height: 100vh;

    &__img {
      padding: 265px 0px;
    }
  }

  // about
  .about {
    &__sectionNosotros {
      &--title {
        &__titleUno {
          font-size: 8rem;
        }

        &__titleDos {
          font-size: 5rem;
        }
      }

      &--parrafo {
        line-height: 35px;
        font-size: 1.2rem;
      }
    }
  }

  // Opiniones
  .opinionesSection {
    &--h2 {
      padding-top: 0px;
    }
  }
  .carousel {
    &__opinionesList {
      &__opinionItem {
        height: 300px;
        margin: 0px 10px 35px 10px;

        &--name {
          font-size: 2rem;
        }

        &--puntajeOpinion {
          font-size: 1.5rem;
        }

        &--comentario {
          font-size: 0.8rem;
          font-family: arial;
        }
      }
    }
  }

  // Toppings
  .toopings {
    &__parrafo {
      font-size: 1rem;
    }

    &__list {
      grid-template-columns: 30% 30% 30%;
    }
  }

  // Ver Locales

  .verLocales {
    &--imgContainer {
      width: 100%;

      &__img {
        width: 60%;
      }
    }

    &--mensajeContainer {
      text-align: left;

      &__parrafo {
        font-size: 0.8rem;
      }

      &__a {
        font-size: 2rem;
        padding: 10px 50px;
      }
    }
  }

  /****** CARTA PAGE ******/

  .content {
    padding: 40px 0px 0px 0px;
  }

  .titleCarta {
    font-size: 2rem;
    padding: 35px 0px;
  }

  .grid {
    grid-template-columns: 40% 40%;
  }

  /****** LOCALES PAGE ******/

  .section {
    &__zonasList {
      width: 95%;

      &__zonasItems {
        &--nameZona {
          font-size: 3.5rem;
        }

        &--localesList {
          &__localesItem {
            padding: 0px 0px !important;
            margin: 0px 5px 70px 5px;

            &__direccionItem {
              font-size: 0.8rem;
              padding: 0px 0px;
            }
          }
        }
      }
    }
  }

  /****** CONTACTO PAGE ******/

  .contactoSection {
    &__formulario {
      margin: 15px auto !important;

      &--input {
        &[type="text"],
        &[type="email"] {
          width: 90% !important;
        }
      }

      &--select {
        width: 90% !important;
      }

      &--textarea {
        width: 90% !important;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  /***** INDEX PAGE *****/

  // header
  .headerHome {
    &__img {
      width: 100%;
    }
  }

  .carousel {
    &__opinionesList {
      &__opinionItem {
        width: 200px;
        height: 180px;
        margin: 0px 5px 70px 5px;

        &--name {
          font-size: 1.8rem;
        }

        &--puntajeOpinion {
          margin: 10px auto;
          font-size: 1rem;
        }

        &--comentario {
          font-size: 0.6rem;
          margin: 0px 5px;
        }
      }
    }
  }

  // About
  .about {
    &__sectionNosotros {
      &--title {
        &__titleUno {
          font-size: 6rem;
        }

        &__titleDos {
          font-size: 4rem;
        }
      }

      &--parrafo {
        font-size: 0.7rem;
        line-height: 25px;
      }
    }
  }

  // Toppings
  .toopings {
    padding: 10px 0px;

    &__list {
      grid-template-columns: 50% 50%;
      grid-template-rows: 140px 140px;

      &--item {
        &__img {
          width: 40%;
        }
      }
    }
  }

  // Opiniones

  .carousel {
    &__opinionesList {
      &__opinionItem {
        height: 210px;
      }
    }
  }

  // Ver Locales

  .verLocales {
    &--imgContainer {
      &__img {
        width: 65%;
      }
    }

    &--mensajeContainer {
      &__parrafo {
        font-size: 0.5rem;
      }

      &__a {
        font-size: 1rem;
        padding: 10px 30px;
      }
    }
  }

  /****** CARTA PAGE ******/

  .grid {
    grid-template-columns: 80%;
  }

  /****** LOCALES PAGE ******/

  .section {
    &__zonasList {
      &__zonasItems {
        &--nameZona {
          font-size: 3em;
        }

        &--localesList {
          &__localesItem {
            padding: 0px 0px !important;
            margin: 0px 5px 70px 5px;

            &__direccionItem {
              font-size: 0.5rem;
              padding: 0px 0px;
            }
          }
        }
      }
    }
  }
}
