// COLORES PRINCIPALES
$colorNegro: #000;
$colorNegroDegradado: rgba(0, 0, 0, 0.8);
$colorBlanco: #fff;
$colorGris: #faebd7c2;
$colorBurguer: #fa9b03;
$colorEstrella: #f5ff37;

// COLORES FORMULARIOS Y BOTONES
$colorBurguerDegradado: #fa9b0351;
$colorBlancoInput: #f6f6f6;
$colorButtonCancel: rgb(109, 11, 11);
$colorButtonOk: rgb(16, 141, 0);

// REDES SOCIALES
$colorFacebook: #3b5998;
$colorInstagram: #9202ce;
$colorWhatsapp: #00bb2d;
